/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Library
/Logs
/obj
/A-Star Pathfinding.sln
/A-Star Pathfinding.sln.DotSettings.user
/Temp